---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Main from '../components/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <style>
            .post {
                display: flex;
                gap: 30px;
                align-items: center;
            }
            .image {
                height: 50px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid black;
            }
            div.post .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 5px;
            }

            div.post .desc {
                font-size: 0.9rem;
            }
        </style>
	</head>

    <body>
        <Nav />
        <Main />

        <h4>Recent Posts</h4>
        <div class="post">
            <div class="image">WD / 01</div>
            <div class="content">
                <span>Blog Post Title</span>
                <span class="desc">One Line Description</span>
            </div>
        </div>


    </body>

</html>
