---
import { type CollectionEntry, getCollection } from 'astro:content'

import BaseHead from '../../components/BaseHead.astro';
import Nav from '../../components/Nav.astro';
import Main from '../../components/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';


export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const paths = posts.map(post => ({
        params: { slug: post.slug },
        props: post,
    }));

    return paths
}

const post = Astro.props;
const { Content } = await post.render();
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <style>
            .post {
                display: flex;
                gap: 30px;
                align-items: center;
            }
            .image {
                height: 50px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid black;
            }
            div.post .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 5px;
            }

            div.post .desc {
                font-size: 0.9rem;
            }


            footer {
                text-align: center;
                padding: 100px;
                padding-bottom: 0px;
            }
        </style>
	</head>

    <body>
        <Nav />
        <Content />
    </body>

    <footer>
        Last Updated: 27 / Oct / 2024 | Akash Kandasamy
    </footer>
</html>
